@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
* {
    font-size: 14px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal .modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal{
    text-align: center;
}