
.imgContainer {
    margin: 2rem 0;
}

@media screen and (min-width:1280px) {
    .imgContainer {
        margin: 1.5rem 0;
    }   
}

.modal-body img{
    width : 100%;
}

.modal-title {
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.loading  {
    font-size: 5rem;
}

.hide {
    display: none;
}