<div class="container">
    <p class="loading text-center" [ngClass]="{'hide' : !loading}">  loading </p>
    <div cdkDropList (cdkDropListDropped)="moveElement($event)">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3 col-xl-2 text-center imgContainer" *ngFor="let img of listImages" cdkDrag>
                <img src="{{img?.thumbnailUrl}}" alt="" (click)="open(img, content)">
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title"> {{imgSrc?.title}} </h1>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <img src="{{imgSrc?.url}}" alt="" srcset="">
    </div>
</ng-template>